{
  "singleQuote": true,
  "trailingComma": "all",

  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/auth/(.*)$",
    "^@/product/(.*)$",
    "^@/user/(.*)$",
    "^../(.*)$",
    "^./(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
